.order-table {
    margin-top: 20px;
  }
  
  .order-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .order-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .pending{
    color:lawngreen;
    font-size:19px;
    border:solid 1px red;
  }